---
layout: trainingsplan
title: '#ASKtraining'
permalink: /training/
---
<div id="MultipleContainers">
    <div id="sidebar">
        <div class="header">
            <a href="#" id="close-sidebar-mobile"><i class="fas fa-times-circle"></i></a>
        </div>
        <div class="tags">
            <h3><i class="fas fa-filter"></i> Filter modules by tags</h3>
            <ul id="wordcloud">
                <li id="show-all-modules" class="selected">all</li>
                <li>Web&Software</li>
                <li>Hardware&Repair</li>
                <li>Community&Moderation</li>
                <li>Organizational_Development</li>
                <li>Media&Art</li>
                <li>Data_Security&Research</li>
                <li>Open_Source&Knowledge</li>
                <li>Sustainability</li>
            </ul>
            <div class="clearer"></div>
        </div>
        <div class="clearer"></div>
        <ul id="module-list-side-bar" class="module-draggable-list">

            {% for module in site.modules %}

                {% case module.module.difficulty %}
                    {% when 1 %}
                        {% assign module_diff_text = 'easy' %}
                    {% when 2 %}
                        {% assign module_diff_text = 'medium' %}
                    {% when 3 %}
                        {% assign module_diff_text = 'advanced' %}
                    {% else %}
                        {% assign module_diff_text = module.module.difficulty %}
                {% endcase %}

                {% assign module_cost = 0 %}
                {% for actual_res in module.module.res %}
                    {% for res in site.resources %}
                        {% if res.resource.id == actual_res %}
                            {% assign module_cost = module_cost | plus: res.resource.cost %}
                        {% endif %}
                    {% endfor %}
                {% endfor  %}
            
            <li id="{{ module.module.id }}" class="module {{ module.module.tag }}" data-duration="{{ module.module.duration }}" data-participants="{{ module.module.max-participants }}" data-trainer="{{ module.module.min-trainers }}" data-difficulty="{{ module.module.difficulty }}">
                <div class="time">
                    <div style="display:inline;" data-tooltip="move module" data-tooltip-location="right"><i
                            class="fas fa-hand-pointer"></i>
                    </div>
                </div>
                <!--
                <div class="time">
                    <div style="display:inline;" data-tooltip="edit duration" data-tooltip-location="right"><i class="far fa-clock"></i>
                    </div> <span class='clock-time'>03:00pm - 03:45pm</span>
                    <div class="edit-time">
                        <form>
                            <label>Duration:</label>
                            <input type="number" class="duration" placeholder="10" min="0" max="59">
                            <span>minutes</span>
                            <input class="submit button" type="button" value="Save">
                            <input class="close" type="button" value="X">
                        </form>
                    </div>
                </div>
                -->

                <div class="content module-content">
                    <div class="edit-trainer-notes-popup">
                        <div class="edit-title-and-description-body">
                            <div class="edit-title-and-description-header">
                                <p>Add your notes</p>
                                <a class="close-notes-popup"><i class="fas fa-times-circle"></i></a>
                            </div>
                            <div class="edit-title-and-description-content">
                                <form>
                                    <textarea class="notes"></textarea>
                                    <div class="flex-start-center">
                                        <input class="reset-notes" type="button" value="Reset">
                                        <input class="submit-notes" type="button" value="Save changes">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="options">
                        <a class="button add-module" src="#">Add Module</a>
                        <a class="info" href="#" data-tooltip="this feature is coming" data-tooltip-location="left"><i class="fas fa-info-circle"></i></a> <a class="trash" href="#"><i class="fas fa-trash-alt"></i></a>
                        {% if module.module.url %}<a href="{{ module.module.url }}" class="button" target="_blank">Source &nbsp; <i class="fas fa-external-link-alt"></i></a>{% endif %}
                    </div>
                    <h2>{{ module.module.name }}</h2>
                    <p class="intro">Learning Objective:</p>
                    {% if module.module.description %}<p class="intro"> {{ module.module.description | markdownify }}</p>{% endif %}
                    <p class="trainer-notes-display"></p>
                    <a class="edit-trainer-notes-button edit intro">Add trainer notes</a>
                    <p />
                    {% if module.module.license %}{{ module.module.license | prepend: "License: " | markdownify }}{% endif %}
                    <div class="thumbnail"><img src="/assets/img/modules/{{ module.module.pic-url }}" class="thumbnail"></div>
                    <div class="module-meta">
                        <div class="module-meta">
                            <p class="module-duration"><i class="fas fa-hourglass-half"></i>{{ module.module.duration | divided_by:60 }} Hours {{ module.module.duration | modulo:60 }} Minutes</p>
                            <p class="difficulty-level"><i class="fas fa-graduation-cap"></i>{{ module_diff_text }}</p>
                            <p class="material-costs"><i class="fas fa-dollar-sign"></i>{{ module_cost }} $ material costs</p>
                        </div>
                    </div>

                    <div class="resources">
                        <p class="sidebar">Resources included: 
                            
                            {% assign first = true %}
                            {% assign all_res_output = '' %}

                            {% for actual_res in module.module.res %}
                                {% for res in site.resources %}
                                    {% if res.resource.id == actual_res %}
                                        {% if first == false %}
                                            {{ '|' }}
                                        {% endif %}
                                        {% assign first = false %}
                                        <a href="{{ res.resource.url }}" target="_blank">{{ res.resource.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor  %}
                            
                        </p>    
                        <ul class="resource-list">

                            {% for actual_res in module.module.res %}
                                {% for res in site.resources %}
                                    {% if res.resource.id == actual_res %}

                                        {% case res.resource.difficulty %}
                                            {% when 1 %}
                                                {% assign diff_text = 'easy' %}
                                            {% when 2 %}
                                                {% assign diff_text = 'medium' %}
                                            {% when 3 %}
                                                {% assign diff_text = 'advanced' %}
                                            {% else %}
                                                {% assign diff_text = res.resource.difficulty %}
                                        {% endcase %}

                                        <li class="resource" data-duration="{{ res.resource.duration }}" data-name="{{ res.resource.name }}" data-cost="{{ res.resource.cost }}" data-space="" data-internet="" data-power="">
                                            <div class="time">
                                                <div style="display:inline;" data-tooltip="edit duration" data-tooltip-location="right"><i class="far fa-edit"></i></div> <span class='clock-time'>03:45pm - 05:15pm</span>
                                                <div class="edit-time">
                                                    <form>
                                                        <label>Duration:</label>
                                                        <input type="number" class="duration" placeholder="{{ res.resource.duration }}" min="0" max="240">
                                                        <span>minutes</span>
                                                        <input class="submit button" type="button" value="Save">
                                                        <input class="close" type="button" value="X">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="edit-trainer-notes-popup">
                                                    <div class="edit-title-and-description-body">
                                                        <div class="edit-title-and-description-header">
                                                            <p>Add your notes</p>
                                                            <a class="close-notes-popup"><i class="fas fa-times-circle"></i></a>
                                                        </div>
                                                        <div class="edit-title-and-description-content">
                                                            <form>
                                                                <textarea class="notes"></textarea>
                                                                <div class="flex-start-center">
                                                                    <input class="reset-notes" type="button" value="Reset">
                                                                    <input class="submit-notes" type="button" value="Save changes">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if res.resource.url %}<a href="{{ res.resource.url }}" class="button" target="_blank">Source &nbsp; <i class="fas fa-external-link-alt"></i></a>{% endif %}
                                                <div><strong>{{ res.resource.name }}</strong> | {{ diff_text }} <span class="duration-display">{% if res.resource.duration > 0 %}| {{ res.resource.duration }} minutes{% endif %}</span> | {{ res.resource.cost }} $</div>
                                                {% if res.resource.description %}
                                                    {{ res.resource.description | markdownify }}
                                                {% endif %}
                                                <p class="trainer-notes-display"></p>
                                                <a class="edit-trainer-notes-button edit">Add trainer notes</a>
                                                <p />
                                                {% if res.resource.license %}
                                                    {{ res.resource.license | prepend: "License: " | markdownify }}
                                                {% endif %}
                                                {% if res.resource.author %}
                                                    <div class="author-data">
                                                        {{ res.resource.author | prepend: "Author(s): " | markdownify }}
                                                        <span class="author" data-author="{{ res.resource.author }}" data-resource="{{ res.resource.name }}" data-resource-url="{{ res.resource.url }}" data-resource-license="{{ res.resource.license }}"></span>
                                                    </div>
                                                {% endif %}
                                                <!-- Authors: <span class="author-list">{% for author in site.authors %}
                                                    {% if res.resource.authors contains author.shortname %}
                                                        <a href="{{ author.source }}" class="author" target="_blank" data-name="{{ author.name }}" data-source="{{ author.source }}" data-resource="{{ res.resource.name }}" data-shortname="{{ author.shortname }}" data-resource-url="{{ res.resource.url }}" data-resource-id="{{ res.resource.id }}" data-resource-license="{{ res.resource.license }}">{{ author.name }}</a>
                                                    {% endif %}
                                                {% endfor %}</span> -->
                                            </div>
                                            <div class="clearer"></div>
                                        </li>

                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="overlay">
                        <i class="fas fa-arrows-alt"></i>
                    </div>
                </div>
                <div class="clearer"></div>
            </li>

            {% endfor %}    

        </ul>

        <ul id="break-list-side-bar" class="breaks">
            <li class="timebreak" data-duration="15">
                <div class="time">
                    <div style="display:inline;" data-tooltip="edit duration" data-tooltip-location="right"><i class="fas fa-edit"></i></div> <span class='clock-time'>10:20am - 12:30am</span></a>
                    <div class="edit-time">
                        <form>
                            <input type="text" class="title" placeholder="Time Break">
                            <label>Duration:</label>
                            <input type="number" class="duration" placeholder="15" min="0">
                            <span>minutes</span>
                            <input class="submit button" type="button" value="Save">
                            <input class="close" type="button" value="X">
                        </form>
                    </div>
                </div>
                <div class="content">
                    <div class="options">
                        <a class="trash" href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <p class="break-title">Time Break</p>
                </div>
                <div class="clearer"></div>
            </li>
            <li class="daybreak" data-duration="15" data-start="09:00">
                <div class="time">
                    <div style="display:inline;" data-tooltip="edit duration" data-tooltip-location="right"><i class="fas fa-edit"></i></div> <span class='clock-time'>10:00am - 10:20pm</span></a>
                    <div class="edit-time">
                        <form>
                            <label>Start-Time:</label>
                            <input type="number" class="hours" placeholder="09" min="1" max="12">
                            <span>:</span>
                            <input type="number" class="minutes" placeholder="00" min="0" max="59">
                            <select class="am-or-pm">
                                <option value="am">am</option>
                                <option value="pm">pm</option>
                                </select>
                            <label>Duration:</label>
                            <input type="number" class="duration" placeholder="10" min="0" max="59">
                            <span>minutes</span>
                            <input type="text" class="title" placeholder="Introduction into the training">
                            <input class="submit button" type="button" value="Save">
                            <input class="close" type="button" value="X">
                        </form>
                    </div>
                </div>
                <div class="content">
                    <div class="options">
                        <a class="trash" href="#"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <p class="break-title">Day Break</p>
                </div>
                <div class="clearer"></div>
            </li>
        </ul>

        <div class="footer">
            <a href="#" class="help">?</a>
            <p>CC-BY-SA 4.0 #ASKtraining<br /><a href="https://github.com/ASKnetCommunity/Training">view on Github</a> | <a href="http://www.asknet.community">#ASKnet Website</a></p>
        </div>

    </div>

    <div id="content">
        <div id="training-plan">
            <div class="training-plan-icon"><i class="fas fa-clipboard-list"></i></div>
            
            <div id="edit-title-and-description">
                <div class="edit-title-and-description-body">
                    <div class="edit-title-and-description-header">
                        <p>Edit training plan details</p>
                        <a class="close" href="#"><i class="fas fa-times-circle"></i></a>
                    </div>
                    <div class="edit-title-and-description-content">
                <form>
                    <input type="text" class="title" placeholder="Title of the training">
                    <textarea class="description"></textarea>
                            <input id="submit-title" type="button" value="Save changes">
                </form>
            </div>
                </div>
            </div>
            
            <h1 id="training-title">{{ page.title }} - Title of the Training <a id="edit-icon" class="edit" href="#edit-title-and-description">Edit title and description</a></h1>
            <p id="training-description">Short description about the training.</p>
            <ul id="module-list-training" class="training-list">
                <div id="trainingstart" class="trainingstart" data-duration="15" data-start="09:00">
                    <div class="time">
                        <div style="display:inline;" data-tooltip="edit start time & title" data-tooltip-location="right"><i class="fas fa-edit"></i></div> <span class='clock-time'>10:00am - 10:20pm</span></a>
                        <div class="edit-time">
                            <form>
                                <input style="margin-bottom:20px;" type="text" class="title" placeholder="Introduction into the training">
                                <label>Start-Time:</label>
                                <input type="number" class="hours" placeholder="09" min="1" max="12">
                                <span>:</span>
                                <input type="number" class="minutes" placeholder="00" min="0" max="59">
                                <select class="am-or-pm">
                                    <option value="am">am</option>
                                    <option value="pm">pm</option>
                                </select>
                                <div style="clear:both; padding:15px 0; display: block;">
                                    <label>Duration:</label>
                                    <input type="number" class="duration" placeholder="15" min="0" max="240">
                                    <span>minutes</span>
                                </div>
                                    <input class="submit button" type="button" value="Save">
                                    <input class="close" type="button" value="X">
                            </form>
                        </div>
                    </div>
                    <div class="content">
                        <p class="break-title">Introduction into the training</p>
                    </div>
                    <div class="clearer"></div>
                </div>
                <div class="clearer page-break"></div>
            </ul>
        
            <div class="clearer page-break"></div>
            <div class="add-modules-breaks">
                <p style="font-size:45px;"><i class="fas fa-arrow-up"></i></p>
                <p>Drag and drop more modules to add</p>
                <a href="#" id="add-module-mobile" class="button">+ Module</a>
                <a href="#" id="add-timebreak-mobile" class="button">+ Time Break</a>
                <a href="#" id="add-daybreak-mobile" class="button">+ Day Brake</a>
            </div>
        </div>
        <div class="summary">
            <h2>Summary</h2>
            <ul class="duration">
                <li class="days"><i class="fas fa-calendar-day"></i><span id="summary-days"></span><span class="label">day(s)</span></li>
                <li class="time-icon"><i class="fas fa-edit"></i></li>
                <li class="hours"><span class="label">hours</span><span id="summary-hours"></span><span class="label">total time of your training</span></li>
                <li class="minutes"><span class="label">minutes</span><span id="summary-minutes"></span></li>
                <div class="clearer"></div>
            </ul>
            <div class="separator"></div>
            <ul class="informations">
                <li><i class="fas fa-cubes"></i><span id="number-of-modules"></span><span class="label">Number of modules</span></li>
                <li><i class="fas fa-users"></i><span id="max-participants"></span><span class="label">Max. participants</span></li>
                <li><i class="fas fa-chalkboard-teacher"></i><span id="min-trainers"></span><span class="label">Min. trainers</span></li>
                <li><i class="fas fa-graduation-cap"></i><span id="difficulty"></span><span class="label">Difficulty level</span></li>
                <div class="separator"></div>
                <li><i class="fas fa-cube"></i><span id="number-of-resources"></span><span class="label">Number of resources</span></li>
                <li><i class="fas fa-ruler-combined"></i><span id="training-space"></span><span class="label">Minimum training space</span></li>
                <li><i class="fas fa-globe-europe"></i><span id="internet-needed"></span><span class="label">Internet needed</span></li>
                <li><i class="fas fa-plug"></i><span id="power-needed"></span><span class="label">Power supply needed</span></li>
                <div class="clearer"></div>
            </ul>
            
        </div>
        <div class="resource-overview">
            <h3>Resources</h3>
            <table id="resource-table">
                <tr>
                    <th class="quantity">Quantity</th>
                    <th class="resource-name">Name of the resource</th>
                    <th class="material-costs">Estimated Material Costs</th>
                </tr>
                <tr>
                    <td class="quantity"><input></input></td>
                    <td class="resource-name">LED Lamp</td>
                    <td class="material-costs">20 $</td>
                </tr>
                <tr>
                    <td class="quantity"><input></input></td>
                    <td class="resource-name">Open Training Guide</td>
                    <td class="material-costs">5 $</td>
                </tr>
                <tr>
                    <td class="quantity"><input></input></td>
                    <td class="resource-name">Solar Charger</td>
                    <td class="material-costs">40 $</td>
                </tr>
                <tr class="result">
                    <td colspan="2" class="label">Result:</td>
                    <td class="total-price">65 $</td>
                </tr>
            </table>
        </div>
        <div class="attachments">
            <h3>Attachments</h3>
            <div class="attachment">
                <input type="checkbox" id="timetable" name="timetable" value="Timetable" disabled>
                <label for="timetable"> Timetable <a href="#"><i class="fas fa-info-circle"></i></a></label>
            </div>
            <div class="attachment">
                <input type="checkbox" id="materialchecklist" name="materialchecklist" value="materialchecklist" disabled>
                <label for="materialchecklist"> Material checklist <a href="#"><i class="fas fa-info-circle"></i></a></label>
            </div>
            <div class="attachment">
                <input type="checkbox" id="name-badges" name="name-badges" value="name-badges" disabled>
                <label for="name-badges"> Name badges <a href="#"><i class="fas fa-info-circle"></i></a></label>
            </div>
            <div class="overlay">
                <p>This feature is coming</p>
            </div>
        </div>
        <div class="references pagebreak">
            <div class="flex-between">
                <h3 id="reference-title">References</h3>
                <a id="reference-button"><i class="fas fa-angle-down"></i></a>
            </div>
            <ul id="reference-list"></ul>
        </div>
        <div class="actions dont-print">
            <button class="button print noPrint" onclick="window.print();"><i class="fas fa-print"></i> Print</button>
            <span class="btn-inactive button" data-tooltip="this feature is coming" data-tooltip-location="top"><i class="fas fa-save"></i> Save</span>
            <span class="btn-inactive button" data-tooltip="this feature is coming" data-tooltip-location="top"><i class="fas fa-file-download"></i> Download</span>
        </div>
    </div>
</div>



