@import /Training/assets/css/font-noto-sans-jp.css

$color-general-borders: #000
$color-element-background: rgb(75, 75, 128)
$color-element-font: #fff

body
    font-family: Noto Sans JP
    font-weight: 100
    font-size: 1em
    margin: 0

a:link,
a:visited
    text-decoration: none

a:hover,
a:focus,
a:active

p
    line-height: 1.3em
    margin: 0 0 7px 0

ul
    list-style: none
    margin: 0
    padding: 0

.clearer
    clear: both
    height: 0
    width: 0
    line-height: 0

.float-left
    float: left

.float-right
    float: right

#content
    position: relative
    max-width: 900px
    margin: 0 auto
    padding: 0 20px 0 370px
    .edit
        position: absolute
        top: 0px
        right: 10px
        font-size: 1.6em
    .resources
        .sidebar
            display: none

#sidebar
    max-width:350px
    position: fixed
    height: 100%
    border-right: 1px $color-general-borders solid
    .module-list
        overflow: auto
        height: calc(100% - 266px)
        .module
            border-top: 1px $color-general-borders solid
            padding: 0 5px
    .resource-list
        display: none
    .time
        display: none
    .module 
        .content
            width: 100%
            float: none
            display: block
            border: none
            padding: 0
            .intro
                display: none
            h4
                display: none
            .options
                a.trash
                    display: none
    .footer
        position: absolute
        bottom: 24px
        left: 0
        margin-top: -100px
        border-top: 1px $color-general-borders solid
        background-color: #fff
        width: 100%

.tags 
    ul 
        li
            margin: 6px
            padding: 6px
            float: left
            display: block
            cursor: pointer

        li.selected,
        li:hover,
        li:focus,
        li:active
            background: $color-element-background
            color: $color-element-font
            border-radius: 5px

.thumbnail
    width: 75px
    height: 75px
    background: $color-element-background
    display: block
    float: left
    margin-right: 10px

.button
    display: block
    width: 150px
    padding: 10px 20px
    margin: 20px 0
    text-align: center
    background: $color-element-background
    color: $color-element-font

a.help
    padding: 5px 17px
    border-radius: 100%
    background: $color-element-background
    color: $color-element-font
    font-size: 1.3em
    cursor: pointer
    font-weight: bold
    float: left
    margin: 10px 20px 0 0

.time
    width: 150px
    float: left
    font-size: 0.8em
    padding: 3px 0
    i
        font-size: 1.4em
    span
        margin-top: -2px
        font-weight: bold

.options
    position: absolute
    top: 0px
    right: 0px
    font-size: 1.2em
    a
        color: $color-element-background
        margin-left: 5px

.module
    clear: both
    margin: 20px 0
    h2
        font-size: 1.1em
        margin: 6px 0
    h4
        margin: 20px 0 0 160px
    .time
        padding-top: 39px
    .content
        position: relative
        width: calc(100% - 172px)
        float: left
        display: block
        border: 1px $color-general-borders solid
        padding: 0 0 10px 10px
        .options
            top: 3px
            right: 10px
        .intro
            margin-bottom: 15px
        .module-meta
            i 
                width: 25px
            .duration,
            .material-costs
                i
                    padding-left: 5px
                    width: 20px

.resource-list
    clear: both
    margin-left: -160px
    .resource
        clear: both
        padding: 8px 0
        display: block
    .time
        padding-top: 3px
    .content
        border: 0
        padding: 0 0 0 10px
        .button
            float: right
            padding: 3px 0
            width: 80px
            font-size: 0.8em
            margin: 0
    .timebreak
        .options
            top: -3px
            right: -3px
        
.breaks
    text-align: center
    position: absolute
    bottom: 75px
    background-color: #fff
    width: 100% 
    div
        padding: 10px
        display: block
        border-top:1px $color-general-borders solid
        cursor: pointer
        font-weight: bold
.timebreak,
.daybreak,
.trainingstart
    background: #fff
    position: relative
    display: block
    padding: 12px 0 10px 0
    margin: 10px -1px 10px 0
    p
        text-align: center
        font-weight: bold
    .options
        top: 8px
        right: 20px
.timebreak
    border-top: 1px $color-general-borders dotted
    border-bottom: 1px $color-general-borders dotted
    border-right: 1px #fff solid
.daybreak,
.trainingstart
    border-top: 3px $color-general-borders solid
    border-bottom: 3px $color-general-borders solid

.add-modules-breaks
    display: block
    clear: both
    width: 100%
    padding: 40px 0
    margin: 10px 0 20px 0
    text-align: center
    border: 1px $color-general-borders dotted

    a.button
        display: none

.summary
    background: $color-element-background
    color: $color-element-font
    padding: 20px
    h2
        text-align: center
        margin-top: 0
    .duration
        text-align: right
        font-size: 2em

.resource-overview
    table
        width: 100%
        th
            text-align: left
        .quantity
            width: 10%
            input
                width: 70%
                padding: 3px 0
                text-align: center
        .resource-name
            width: 70%
        .material-costs
            width: 20%
            text-align: right
        .result
            text-align: right
            font-weight: bold