@import /Training/assets/css/font-noto-sans-jp.css

$color-general-borders: #000
$color-element-background: rgb(75, 75, 128)
$color-element-font: #fff

body
    font-family: Noto Sans JP
    font-weight: 100
    font-size: 1em
    margin: 0

a:link,
a:visited
    text-decoration: none

a:hover,
a:focus,
a:active

p
    line-height: 1.3em
    margin: 0 0 7px 0

ul
    list-style: none
    margin: 0
    padding: 0

.clearer
    clear: both
    height: 0
    width: 0
    line-height: 0

.float-left
    float: left

.float-right
    float: right

#content
    max-width: 900px
    margin: 0 auto
    padding: 0 20px 0 370px

#sidebar
    max-width:350px
    position: fixed
    height: 100%
    border-right: 1px $color-general-borders solid

#sidebar
    .module-list
        overflow: auto
        height: calc(100% - 266px)

.tags 
    ul 
        li
            margin: 6px
            padding: 6px
            float: left
            display: block
            cursor: pointer

        li.selected,
        li:hover,
        li:focus,
        li:active
            background: $color-element-background
            color: $color-element-font
            border-radius: 5px

.thumbnail
    width: 75px
    height: 75px
    background: $color-element-background
    display: block
    float: left
    margin-right: 10px

.button
    display: block
    width: 150px
    padding: 10px 20px
    margin: 20px 0
    text-align: center
    background: $color-element-background
    color: $color-element-font


a
    .info,
    .help
        padding: 5px 17px
        border-radius: 100%
        background: $color-element-background
        color: $color-element-font
        font-size: 1.3em
        cursor: pointer
        font-weight: bold
    .info
        float: right
        margin-top: 5px
    .help
        float: left
        margin: 10px 20px 0 0

.module
    border-top: 1px $color-general-borders solid
    padding: 0 5px
    h2
        font-size: 1.1em
        margin: 6px 0

.resource
    clear: both

.brakes
    text-align: center
    position: absolute
    bottom: 75px
    background-color: #fff
    width: 100%

.brakes 
    div
        padding: 10px
        display: block
        border-top:1px $color-general-borders solid
        cursor: pointer
        font-weight: bold

#sidebar 
    .footer
        position: absolute
        bottom: 24px
        left: 0
        margin-top: -100px
        border-top: 1px $color-general-borders solid
        background-color: #fff
        width: 100%

.add-modules-breaks
    display: block
    width: 100%
    padding: 40px 0
    margin: 20px 0
    text-align: center
    border: 1px $color-general-borders dotted

    a.button
        display: none

.summary
    background: $color-element-background
    color: $color-element-font
    padding: 20px
    h2
        text-align: center
        margin-top: 0
    .duration
        text-align: right
        font-size: 2em

.resource-overview
    table
        width: 100%
        th
            text-align: left
        .quantity
            width: 10%
            input
                width: 70%
                padding: 3px 0
                text-align: center
        .resource-name
            width: 70%
        .material-costs
            width: 20%
            text-align: right
        .result
            text-align: right
            font-weight: bold